NODE_ENV = desarrollo
PUERTO = 3000
URL_FRONTEND = http://localhost:5173

POSTGRES_USER = postgres
POSTGRES_PASSWORD = tu_password_segura
POSTGRES_DB = libreria_db
POSTGRES_PORT = 5432
DATABASE_URL = postgresql:// ${ POSTGRES_USER } : ${ POSTGRES_PASSWORD } @db: ${ POSTGRES_PORT } / ${ POSTGRES_DB }