
p {
    margin: 30px ;
    padding: 10px ;
    border-width: 5px;
    border-style: dashed;
    border-color: rgb(66, 128, 66);
    border-radius: 4px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

img {
    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
}


form{
    background-color: aqua;
    margin: 30% ;
    padding: 10%;

}

.lista_desordenada{
    background-color: rgb(138, 125, 125);

}

